body {
  background-color: #e3caaa;
  margin: 5px 10px 5px 10px;
  padding: 10px 25px 10px 25px;
}
    
img {
  width: 500px;
}

.image-circle {
    border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: center;
}
h1 {
  color: #4be4c3;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  text-align: center;
}
  
h2 {
  color: #2c9982;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  }
  
  h3 {
    color: 55a896;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
  }
  
p {
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
  
.text-centered {
  text-align: center;
}

.dark-background {
  background-color: #750f11;
  color: #e3d2a3;
}

.light-background {
  background-color: #e6e6e6;
  color: #333333;
}

.wrapper {
  height: 51px;
  width: 100%;
  padding: 25px 15px 25px 15px;
}
