body {
  background-color: #36373b;
}
    
img {
  width: 500px;
}

.image-circle {
    border-radius: 37%; 
}

h1 {
  color: #4be4c3;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
}
  
h2 {
  color: #2c9982;
    font-family: "Times New Roman", Times, serif;
  }
  
  h3 {
    color: 55a896;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
  }
  
p {
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
}
  
.text-centered {
  text-align: center;
}

.dark-background {
  background-color: #565656;
  color: #e6e6e6;
}

.light-background {
  background-color: #e6e6e6;
  color: #333333;
}

.wrapper {
  height: 75px;
  width: auto;
  padding: 25px 15px 25px 15px;
}
